In [1]:
import pandas as pd

df=pd.read_excel("../datasets/titanic.xlsx")

In [2]:
list_of_genders=[df['sex']]

In [3]:
x={'categorical': list_of_genders}

In [4]:
ab=pd.DataFrame(x)

In [7]:
dummy_data=pd.get_dummies(df['sex'],prefix='sex')

In [8]:
dummy_data

     sex_female  sex_male
0         False      True
1          True     False
2          True     False
3          True     False
4         False      True
..          ...       ...
886       False      True
887        True     False
888        True     False
889       False      True
890       False      True

[891 rows x 2 columns]

In [9]:
dummy_data.head

<bound method NDFrame.head of      sex_female  sex_male
0         False      True
1          True     False
2          True     False
3          True     False
4         False      True
..          ...       ...
886       False      True
887        True     False
888        True     False
889       False      True
890       False      True

[891 rows x 2 columns]>

In [10]:
dummy_data.values

array([[False,  True],
       [ True, False],
       [ True, False],
       ...,
       [ True, False],
       [False,  True],
       [False,  True]], shape=(891, 2))

In [11]:
dummy_data.tail(20)

     sex_female  sex_male
871        True     False
872       False      True
873       False      True
874        True     False
875        True     False
876       False      True
877       False      True
878       False      True
879        True     False
880        True     False
881       False      True
882        True     False
883       False      True
884       False      True
885        True     False
886       False      True
887        True     False
888        True     False
889       False      True
890       False      True

In [ ]:
# the female vector is 1,0
# male vector is 0,1