In [1]:
import pandas as pd
y=["bird","cat","dog"]

s={'categorical': y}

df=pd.DataFrame(s)

In [2]:
df.head()

  categorical
0        bird
1         cat
2         dog

In [3]:
df['categorical']

0    bird
1     cat
2     dog
Name: categorical, dtype: str

In [10]:
dfDummies=pd.get_dummies(df['categorical'],prefix='category')
dfDummies

   category_bird  category_cat  category_dog
0           True         False         False
1          False          True         False
2          False         False          True

In [5]:
dfDummies.head()

   category_bird  category_cat  category_dog
0           True         False         False
1          False          True         False
2          False         False          True

In [6]:
dfDummies.values

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [7]:
print(df)

  categorical
0        bird
1         cat
2         dog

In [8]:
print(dfDummies)

   category_bird  category_cat  category_dog
0           True         False         False
1          False          True         False
2          False         False          True